:root {
  --gutter-small: calc(var(--gutter) * 0.5);
  --gutter: 0.9375em;
  --gutter-large: calc(var(--gutter) * 1.5);

  --gap: 0.625em;
  --gap-large: calc(var(--gap) * 4);

  --radius: 1.25em;

  --white: hsl(0, 0%, 100%);
  --silver: hsl(0, 0%, 80%);
  --gray: hsl(0, 0%, 60%);
  --charcoal: hsl(0, 0%, 40%);
  --black: hsl(0, 0%, 20%);
  --orange-red: #f04d27;
  --tomato: #ff5555;
  --orange: #ffaf1f;
  --green: #78c143;
  
  --shadow-top: 0 -2px 4px hsla(0, 0%, 0%, 10%);
  --shadow-bottom: 0 2px 4px hsla(0, 0%, 0%, 10%);
  
  --semi: 600;
  --bold: bold;
  --xbold: 800;
  
  --xsmall: 0.75em;
  --small: 0.875em;
  --regular: 1em;
  --large: 1.25em;
  --xlarge: 1.5em;

  --header-height: 3.5em;
  --footer-height: 4em;

  --duration: 150ms;
}

/* 
todo

고해상도 사진. 그리고 라운드 제거.

헤더푸터 그림자, 스크롤 숨기기 액션

url 전부 최상위 경로 (/img...) 변경
small 제거 고민해보기. 미리보기는 변수 주석

매장보기 서브버튼 전부 제거하고 폰트사이즈도 스몰라지




*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  background-repeat: no-repeat;
  color: inherit;
  border: none;
  text-decoration: none;
  list-style: none;
}

.w-100p {
  width: 100%!important;
}

.xsmall {
  font-size: var(--xsmall)!important;
}

.small {
  font-size: var(--small)!important;
}

p, span, a, button {
  font-size: var(--regular);
  line-height: 1.25;
}

a, button {
  cursor: pointer;
}

.title {
  font-weight: var(--bold);
  font-size: var(--large);
  line-height: 1;
}

.large {
  font-size: var(--large)!important;
}

.xlarge {
  font-size: var(--xlarge)!important;
}

.semi {
  font-weight: var(--semi)!important;
}

.bold {
  font-weight: var(--bold)!important;
}

.xbold {
  font-weight: var(--xbold)!important;
}

.bg-orange {
  background-color: var(--orange)!important;
}

.white {
  color: var(--white)!important;
}

.gray {
  color: var(--gray)!important;
}

.charcoal {
  color: var(--charcoal)!important;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.horizontal-line {
  width: 100%;
  height: 0;
  color: var(--gray);
  border-top: 1px solid;
}

.primary-btn {
  padding: 1.0625em 1.25em;
  border-radius: 3.125em;
  background: var(--orange-red);
  color: var(--white);
  font-weight: var(--xbold);
  line-height: 1;
  text-align: center;
  word-break: keep-all;
}

.sub-btn {
  padding: 0.5em 0.75em;
  border-radius: 2em;
  background: var(--silver);
  color: var(--white);
  font-weight: var(--bold);
  font-size: var(--small);
  line-height: 1;
  text-align: center;
  word-break: keep-all;
}

[class*='-icon'] {
  aspect-ratio: var(--ratio, 1 / 1);
  background: var(--img) no-repeat center / contain;

  &.like-icon {
    --img: url(../img/icon/icon-heart-outline.svg);
  }

  &.list-icon {
    --img: url(../img/icon/icon-list.svg);
  }

  &.grid-icon {
    --img: url(../img/icon/icon-grid.svg);
  }

  &.notice-icon {
    --ratio: 17 / 20;
    --img: url(../img/icon/icon-notice.svg);
  }

  &.cart-icon {
    --img: url(../img/icon/icon-cart.svg);
  }

  &.prev-icon {
    --ratio: 9 / 22;
    --img: url(../img/icon/icon-prev.svg);
  }
}

.symbol {
  aspect-ratio: 1 / 1;
  background: url(../img/symbol.svg) no-repeat center / contain;
}

button.like-icon.checked {
  --img: url(../img/icon/icon-heart.svg);
}

.show-grid button.list-icon {
  opacity: 0.5;
}

button.grid-icon {
  opacity: 0.5;

  .show-grid & {
    opacity: 1;
  }
}


body {
  color: var(--black);
  font-size: 16px;
}

#wrap {
  width: 100%;
  height: 100svh;
  /* overflow-y: scroll; */
}

header {
  z-index: 99;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
  padding: 1em var(--gutter-large);
  background: var(--white);
  box-shadow: var(--shadow-bottom);

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .prev-icon {
    transform: translateX(-0.75em);
    height: 100%;
    padding: 0.5em 0.75em;
    background-size: calc(100% - 1.5em) calc(100% - 1em);
    box-sizing: content-box;
  }
}

footer {
  z-index: 99;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: var(--footer-height);
  padding: 0.5em 0;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  box-shadow: var(--shadow-top);
  
  .footer-btn {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    color: var(--silver);

    &:hover {
      color: var(--tomato);
    }

    svg {
      display: block;
      width: 45%;
      margin: 10% auto;
      
      path {
        fill: currentColor;
      }
    }

    a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: calc(90% - 1em);
      font-size: var(--xsmall);
      line-height: 1;
      text-align: center;
      word-break: keep-all;
    }
  }
}

#contents {
  position: relative;
  width: 100%;
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);

  &.modal-on::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.25;
  }
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: var(--gap-large);
  padding: var(--gap-large) var(--gutter);
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: var(--gap);
  
  .box {
    display: flex;
    width: 100%;
    height: 1.25em;
    gap: var(--gap);
    padding: 0 var(--gutter-small);
  }
}

.btn-area {
  display: flex;
  height: 100%;
  gap: var(--gutter);
  margin-left: auto;
  
  @media (max-width: 500px) {
    .list-icon,
    .grid-icon {
      display: none;
    }
  }
}











