:root {
  --gutter: 0.9375em;
  --gutter-small: calc(var(--gutter) / 2);
  --gutter-large: calc(var(--gutter) * 2);

  --white: hsl(0, 0%, 100%);
  --silver: hsl(0, 0%, 80%);
  --gray: hsl(0, 0%, 60%);
  --charcoal: hsl(0, 0%, 40%);
  --black: hsl(0, 0%, 20%);
  --orange-red: #f04d27;
  --tomato: #ff5555;
  --orange: #ffaf1f;
  --green: #78c143;
  
  
  --style-shadow: 0 2px 4px hsla(0, 0%, 0%, 10%);
  
  --semi: 600;
  --bold: bold;
  --xbold: 800;
  
  --xsmall: 0.75em;
  --small: 0.875em;
  --large: 1.25em;
  --xlarge: 1.5em;
  --xxlarge: 1.75em;
  --xxxlarge: 2em;

  --header-height: 3.5em;
  --footer-height: 4em;
}

/* 
todo

씨발 왜 컴포 h가 컨텐츠에 맞게 안따라가냐
텍스트 행바꿈되면 개씨발임

img때문





*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  background-repeat: no-repeat;
  color: inherit;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--orange);
  color: var(--black);
  font-size: 16px;
}

p, span, a, button {
  font-size: 1em;
  line-height: 1.25;
}

section {
  --gap: 3.750em;
  display: flex;
  flex-direction: column;
  padding: calc(var(--gutter) * 2) var(--gutter);
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  gap: var(--gap);
}

article {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 6);
}

.xsmall {
  font-size: var(--xsmall)!important;
}

.small {
  font-size: var(--small)!important;
}

.semi {
  font-weight: var(--semi)!important;
}

.bold {
  font-weight: var(--bold)!important;
}

.xbold {
  font-weight: var(--xbold)!important;
}

.charcoal {
  color: var(--charcoal)!important;
}

.gray {
  color: var(--gray)!important;
}

.white {
  color: var(--white)!important;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.horizontal-line {
  width: 100%;
  height: 0;
  color: var(--gray);
  border-top: 1px solid;
}

.primary-btn {
  padding: 1.0625em 1.25em;
  border-radius: 3.125em;
  background: var(--orange-red);
  color: var(--white);
  font-weight: var(--xbold);
  line-height: 1;
  text-align: center;
}

.sub-btn {
  padding: 0.5em 0.75em;
  border-radius: 2em;
  background: var(--silver);
  color: var(--white);
  font-weight: var(--bold);
  font-size: 0.9375em;
  line-height: 1;
  text-align: center;
}

.like-btn {
  aspect-ratio: 1 / 1;
  background: url(../img/icon/icon-heart-outline.svg) no-repeat center / contain;
  
  &.checked {
    background-image: url(../img/icon/icon-heart.svg);
  }
}

.menu-bar {
  display: flex;
  height: 1.25em;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.9375em;
  padding: 0 var(--gutter-small);

  .title {
    color: var(--white);
    font-weight: var(--bold);
    font-size: var(--large);
    line-height: 1;
  }

  .ham-btn {
    aspect-ratio: 1 / 1;
    margin-left: auto;
    background: url(../img/icon/icon-menu.svg) no-repeat center / contain;
  }

  .grid-btn {
    aspect-ratio: 1 / 1;
    background: url(../img/icon/icon-grid.svg) no-repeat center / contain;
  }

  &.grid .ham-btn,
  &:not(.grid) .grid-btn {
    opacity: 0.5;
  }

  @media (max-width: 500px) {
    .ham-btn, .grid-btn {
      display: none;
    }
  }
}

.component,
.component-group > li {
  --plr: 1.25em;
  --ptb: 0.625em;
  --gap: 0.625em;
  position: relative;
  padding: var(--ptb) var(--plr);
  border-radius: 1.25em;
  background: var(--white);
  box-shadow: var(--style-shadow);

  &, & :is(.row, .col) {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    row-gap: calc(var(--gap) * var(--row-gap, 1));
    column-gap: calc(var(--gap) * var(--col-gap, 1));

    &.row {
      flex-direction: row;
      align-items: center;
    }
  }
  
  &:has(.thumb) {
    column-gap: calc(var(--gap) * 1.5);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    container: has-thumb / inline-size;
    
    @container has-thumb (max-width: 20em) {
      
      .thumb {
        --thumb-size: 100%;
      }

      .like-btn {
        position: absolute;
        right: var(--plr);
        top: var(--ptb);
        width: 1.125em;
      }

      .primary-btn {
        margin-top: 0.5em;
      }
    }
  }
  
  &.disable {
    opacity: 0.75;
    border: 1px solid var(--gray);
  }

  b {
    color: var(--orange-red);
    font-weight: var(--semi);
  }
  
  sub {
    font-size: var(--xsmall);
    line-height: 1;
    vertical-align: baseline;
  }

  .thumb {
    flex-basis: var(--thumb-size, 7.5em);
    border-radius: 0.9375em;
    background: #eee;
  }

  .name {
    font-weight: var(--bold);
  }

  .symbol {
    height: var(--height, 3.125em);
    aspect-ratio: 1 / 1;
    margin-top: 0.3125em;
    background: url(../img/symbol.svg) no-repeat center / contain;
  }

  .price {
    word-break: keep-all;

  }

  .like-btn {
    width: 0.9375em;
    margin: 0 0 auto auto;
  }
  
  .primary-btn {
    margin: auto 0 0 auto;
    word-break: keep-all;
    justify-self: flex-end;
  }
  
  .sub-btn {
    margin: 0 0 auto auto;
    word-break: keep-all;
  }
}

.component-group {
  --gap: 0.625em;
  display: grid;
  grid-template-columns: repeat(var(--col, 1), 1fr);
  gap: var(--gap);

  @media (min-width: 501px) {
    .grid + & {
      --col: 2;
    }
  }
}

header {
  z-index: 99;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: var(--header-height);
  gap: 0.9375em;
  align-items: center;
  justify-content: space-between;
  padding: 1em var(--gutter-large);
  background: var(--white);

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: var(--bold);
    font-size: 1.25em;
    line-height: 1;
  }

  #signature {
    height: 100%;
  }

  .prev-btn {
    transform: translateX(-0.75em);
    height: 100%;
    aspect-ratio: 9 / 22;
    padding: 0.5em 0.75em;
    box-sizing: content-box;
    
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url(../img/icon/icon-prev.svg) no-repeat center / contain;
    }
  }

  .notice-btn {
    height: 100%;
    aspect-ratio: 17 / 20;
    margin-left: auto;
    background: url(../img/icon/icon-notice.svg) no-repeat center / contain;
  }

  .cart-btn {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: url(../img/icon/icon-cart.svg) no-repeat center / contain;
  }
}

.order {
  padding: calc(var(--ptb) * 2) var(--plr);
  --row-gap: 2;

  .price {
    margin-left: auto;
  }
}

footer {
  z-index: 99;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: var(--footer-height);
  padding: 0.5em 0;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  
  .footer-btn {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    color: var(--silver);

    &:hover {
      color: var(--tomato);
    }

    svg {
      display: block;
      width: 45%;
      margin: 10% auto;
      
      path {
        fill: currentColor;
      }
    }

    a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: calc(90% - 1em);
      font-size: 0.75em;
      line-height: 1;
      text-align: center;
      word-break: keep-all;
    }
  }
}













